<form  action="/workouts/new" method="post">
    <label for="name">Name:</label>
    <input type="text" name="workout[name]" required /></br>

    <label for="body_part">Body Part:</label>
    <input type="text" name="workout[body_part]" required /></br>

    <label for="weight">Weight in pounds:</label>
    <input type="text" name="workout[weight]" required /></br>

    <label for="set">Sets:</label>
    <input type="text" name="workout[set]" required /></br>

    <label for="rep">Reps:</label>
    <input type="text" name="workout[rep]" required /></br>

    <label for="date">Date:</label>
    <input id="datecal" type="date" name="workout[date]" required /></br></br>
    <input type="submit" value="Add"/>
</form>
